@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gotu&display=swap");
body, html {
  height: calc(100% + 60);
  margin: 0;
  font-size: 20px;
  font-family: 'Gotu', sans-serif;
  color: #FFF9CF;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #5c001c;
  display: none;
}

hr {
  width: 20%;
  max-width: 580px;
  border-top: 0.5px solid #FFF9CF;
  border-bottom: 0.5px solid #FFF9CF;
}

.noSelect {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.wrapper {
  background: url(../img/IMG_9851.svg) no-repeat center -30px fixed;
  background-size: cover;
}

@supports (-webkit-appearance: none) {
  .os-android .wrapper {
    min-height: calc(100vh - 56px);
  }
}

.wrapper main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 100%;
  position: fixed;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#180000), color-stop(rgba(68, 0, 19, 0.99)), color-stop(rgba(92, 0, 28, 0.658)), to(rgba(92, 0, 28, 0.05)));
  background-image: linear-gradient(to bottom, #180000, rgba(68, 0, 19, 0.99), rgba(92, 0, 28, 0.658), rgba(92, 0, 28, 0.05));
}

.wrapper main header ul {
  list-style-type: none;
  width: 90%;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}

.wrapper main header ul a {
  text-decoration: none;
  color: #FFF9CF;
}

.wrapper main header ul a:hover {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  text-shadow: 0 0 2px #FFFFFF;
  color: #fff394;
}

.wrapper main .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper main .logo .fLogo {
  height: 500px;
  background: url(../img/fLogo.svg) no-repeat center center;
  position: absolute;
  background-size: contain;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper main .logo #titleLogo {
  text-align: center;
  z-index: 2;
  font-family: 'Cinzel', serif;
  font-size: 6em;
}

.wrapper main .logo .title2Logo {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
  margin-bottom: 70px;
}

.wrapper main .logo:hover {
  cursor: default;
}

.wrapper #aboutHr {
  opacity: 0;
}

.wrapper .about {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.wrapper .about .aboutText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .about p {
  width: 50%;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(139, 0, 42, 0)), color-stop(rgba(139, 0, 42, 0.4)), color-stop(rgba(139, 0, 42, 0.7)), color-stop(rgba(139, 0, 42, 0.8)), color-stop(rgba(139, 0, 42, 0.7)), color-stop(rgba(139, 0, 42, 0.4)), to(rgba(105, 0, 32, 0)));
  background-image: linear-gradient(to right, rgba(139, 0, 42, 0), rgba(139, 0, 42, 0.4), rgba(139, 0, 42, 0.7), rgba(139, 0, 42, 0.8), rgba(139, 0, 42, 0.7), rgba(139, 0, 42, 0.4), rgba(105, 0, 32, 0));
  border-top: 0.5px solid #FFF9CF;
  border-bottom: 0.5px solid #FFF9CF;
  padding: 10px;
}

.wrapper #gallery {
  margin-bottom: 50px;
  visibility: hidden;
}

.wrapper .gallery {
  margin: 30px;
  width: calc(100% - 60px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper .gallery a {
  width: 22%;
  min-width: 180px;
  margin: 10px;
  -webkit-filter: sepia(0.65);
          filter: sepia(0.65);
  -webkit-transition: .4s;
  transition: .4s;
}

.wrapper .gallery a img {
  width: 100%;
}

.wrapper .gallery a:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapper .video {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

.wrapper .offer {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: calc(100% - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .offer .offerContent {
  text-align: center;
  margin-bottom: 40px;
}

.wrapper .offer .offerContent h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 40px;
}

.wrapper .offer .offerContent h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 20px;
}

.wrapper .contact {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(139, 0, 42, 0.822)), to(#690020));
  background-image: linear-gradient(to right, rgba(139, 0, 42, 0.822), #690020);
  padding: 20px 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contact .contactData {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contact .contactData .phone {
  height: 40px;
  width: 330px;
  color: #FFF9CF;
  background: url(../img/icons8-phone2-100.png) no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .contact .contactData .phone p {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 60px;
}

.wrapper .contact .contactData .mail {
  height: 40px;
  width: 330px;
  color: #FFF9CF;
  background: url(../img/icons8-email2-100.png) no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .contact .contactData .mail p {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 60px;
}

.wrapper .contact .logoWrap {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contact .logoWrap #FB {
  background: url(../img/icons8-facebook-250.svg) no-repeat;
  background-size: 40px;
  width: 50px;
  height: 40px;
}

.wrapper .contact .logoWrap #FB:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper .contact .logoWrap #YT {
  background: url(../img/icons8-youtube-128.svg) no-repeat;
  background-size: 40px;
  width: 50px;
  height: 40px;
  margin-left: 15px;
}

.wrapper .contact .logoWrap #YT:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper .contact form {
  width: 40%;
  min-width: 380px;
}

.wrapper .contact form p {
  margin-top: 10px;
}

.wrapper .contact form input, .wrapper .contact form textarea {
  font-size: 0.8rem;
}

.wrapper .contact form #sendBtn {
  background-color: black;
  border-color: black;
  color: #FFF9CF;
  border-radius: 7px;
  width: 80px;
  height: 40px;
  float: right;
}

.wrapper .contact form #sendBtn:active {
  opacity: 0.7;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .wrapper {
    background: url(../img/IMG_9851.svg) no-repeat center center fixed;
    background-size: cover;
  }
  .wrapper main .logo {
    min-width: 300px;
  }
  .wrapper .about p {
    width: 60%;
  }
  .wrapper .gallery a {
    -webkit-filter: none;
            filter: none;
  }
  .wrapper .contact {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .contact .logoWrap {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 0.9em;
  }
  .wrapper {
    background: url(../img/IMG_9851.svg) no-repeat center center fixed;
    background-size: cover;
  }
  .wrapper main a {
    padding: 4px;
  }
  .wrapper main .logo {
    zoom: 0.6;
    -moz-transform: scale(0.6);
  }
  .wrapper #aboutHr {
    margin-bottom: 50px;
  }
  .wrapper .about {
    height: auto;
    margin-bottom: 30%;
  }
  .wrapper .about p {
    width: 400px;
    zoom: 0.8;
    -moz-transform: scale(0.8);
  }
  .wrapper .gallery a {
    width: 40%;
    min-width: 0;
    -webkit-filter: none;
            filter: none;
  }
  .wrapper .offer hr {
    margin-top: 0px;
  }
  .wrapper .contact {
    zoom: 0.75;
    -moz-transform: scale(0.75);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper .contact .logoWrap {
    margin-left: 20px;
    zoom: 1.5;
    -moz-transform: scale(1.5);
  }
}
/*# sourceMappingURL=main.css.map */