@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');
$fontColor: #FFF9CF;
$fontSize: 20px;

body, html {

    height: 100%;
    margin: 0;
    font-size: $fontSize;
    font-family: 'Gotu', sans-serif;
    color: $fontColor;
    scroll-behavior: smooth;
}

*, *:before, *:after {
     box-sizing: border-box; 
    }

body {
    background: url(../img/IMG_9851.svg) no-repeat center -30px fixed;
    background-size: cover;
    background-color: rgb(92, 0, 28);
    display: none;
}

hr {
    width: 20%;
    max-width: 580px;
    border-top: 0.5px solid $fontColor;
    border-bottom: 0.5px solid $fontColor;
}

.noSelect {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.wrapper {
    // background: url(../img/IMG_9851.svg) no-repeat center -30px fixed;
    // background-size: cover;
   

    main {
        height: 80vh;
        // justify-content: center;

        header {
            display: flex;
            height: 70px;
            width: 100%;
            box-sizing: border-box;
            position: fixed;
            justify-content: center;
            align-items: center;
            z-index: 2;
            background-image: linear-gradient(to bottom, rgb(24, 0, 0),  rgba(68, 0, 19, 0.99), rgba(92, 0, 28, 0.658), rgba(92, 0, 28, 0.05));
    
            ul {
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                padding: 0;
                width: 70%;
                min-width: 350px;

                a {
                    text-decoration: none;
                    color: $fontColor;
                }

                a:hover {
                    transition-duration: 0.1s;
                    text-shadow: 0 0 2px #FFFFFF;
                    color: rgb(255, 243, 148);
                }
            }
        }
        
        .logo {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .fLogo {
                height: 500px;
                background: url(../img/fLogo.svg) no-repeat center center;
                background-size: contain;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            #titleLogo {
                text-align: center;
                z-index: 2;
                font-family: 'Cinzel', serif;
                font-size: 6em;
            }

            .title2Logo {
                text-align: center;
                font-family: 'Cinzel', serif;
                font-size: 1.5em;
                margin-bottom: 70px;
            }
        }
        
        .logo:hover {
            cursor: default;
        }

    }

    #aboutHr {
        opacity: 0;
        // padding-bottom: 20px;
    }

    .about {
        width: 100%;
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .aboutText {
            display: flex;
            justify-content: center;
        }

        p {
            width: 50%;
            min-width: 360px;
            text-align: center;
            background-image: linear-gradient(to right,
                rgba(139, 0, 42, 0),
                rgba(139, 0, 42, 0.4),
                rgba(139, 0, 42, 0.7),
                rgba(139, 0, 42, 0.8),
                rgba(139, 0, 42, 0.7),
                rgba(139, 0, 42, 0.4),
                rgba(105, 0, 32, 0.0));
            border-top: 0.5px solid $fontColor;
            border-bottom: 0.5px solid $fontColor;
            padding: 10px;
        }
       
    }
    #gallery {
        margin-bottom: 50px;
        visibility: hidden;
    }

    .gallery {
        margin: 30px;
        width: calc(100% - 60px);
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;

        a {
            width: 22%;
            min-width: 180px;
            margin: 10px;
            filter: sepia(0.65);
            transition: .4s;

            img {
                width: 100%;
                box-sizing: border-box;
            }
        }

        a:hover {
            filter: none;
            transition: .5s;
        }
    }

    .video {
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 50px;
    }

    .offer {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
        box-sizing: border-box;
        height: calc(100% - 150px);
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .offerContent {
            text-align: center;
            margin-bottom: 40px;

            h1 {
                font-size: 1.5em;
                font-weight: normal;
                margin-bottom: 40px;
            }

            h2 {
                font-size: 1.2em;
                font-weight: normal;
                margin-bottom: 20px;
            }
        }
    }

    //Email icon icon by Icons8
    .contact {
        width: 100%;
        box-sizing: border-box;
        height: 100%;
        min-height: 300px;
        display: flex;
        background-image: linear-gradient(to right, rgba(139, 0, 42, 0.822), rgb(105, 0, 32));
        padding: 20px 40px;
        justify-content: space-around;
        align-items: center;

        .contactData {
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .phone {
                height: 40px;
                width: 330px;
                color: $fontColor;
                background: url(../img/icons8-phone2-100.png) no-repeat;
                background-size: contain;
                display: flex;

                p {
                    margin-top: auto;
                    margin-bottom: auto;
                    padding-left: 60px;
                }
            }

            .mail {
                height: 40px;
                width: 330px;
                color: $fontColor;
                background: url(../img/icons8-email2-100.png) no-repeat;
                background-size: contain;
                display: flex;

                p {
                    margin-top: auto;
                    margin-bottom: auto;
                    padding-left: 60px;
                }
            }
        }

        .logoWrap {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        
            #FB {
                background: url(../img/icons8-facebook-250.svg) no-repeat;
                background-size: 40px;
                width: 50px;
                height: 40px;
            }

            #FB:hover {
                opacity: 0.7;
                transform: scale(1.1);
            }

            #YT {
                background: url(../img/icons8-youtube-128.svg) no-repeat;
                background-size: 40px;
                width: 50px;
                height: 40px;
                margin-left: 15px;
            }

            #YT:hover {
                opacity: 0.7;
                transform: scale(1.1);
            }
        }

        form {
            width: 40%;
            min-width: 340px;

            p {
                margin-top: 10px;
            }

            input, textarea {
                font-size: 0.8rem;
            }

            #sendBtn {
                background-color: black;
                border-color: black;
                color: $fontColor;
                border-radius: 7px;
                width: 80px;
                height: 40px;
                float: right;
            }

            #sendBtn:active {
                opacity: 0.7;
            }
        }
    }
}

@media screen and (min-width : 481px) and (max-width : 1156px) {
    body {
        background: url(../img/IMG_9851.svg) no-repeat center center fixed;
        background-size: cover;
        background-color: rgb(92, 0, 28);

        main {
            height: 100vh;
        
            .logo {
                padding-top: 30px;
                min-width: 300px;
                scale: 0.8;
                // zoom: 0.8;
                // -moz-transform: scale(0.8);
            }
        }

        .about {
            height: 40vh;
            margin-top: 0;

            p {
                width: 80%;
                min-width: 0;
                box-sizing: border-box;
            }
        }

        .gallery {

            a {
                filter: none;
            }
        }

        .contact {
            // zoom: 0.75;
            // -moz-transform: scale(0.75);
            flex-wrap: wrap;

            .logoWrap {
                margin-left: 20px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 0.9em;
        background: url(../img/IMG_9851.svg) no-repeat center center fixed;
        background-size: cover;
        background-color: rgb(92, 0, 28);
        display: none;

    }
    .wrapper {
        // background: url(../img/IMG_9851.svg) no-repeat center center fixed;
        // background-size: cover;

        main {
            height: 100vh;

            a {
                padding: 4px;

                li {
                    font-size: 0.9em;
                }
            }

            .logo {
                height: 100%;
                zoom: 0.6;
                -moz-transform: scale(0.6);
            }
        }

        #aboutHr {
            margin-bottom: 50px;
        }

        .about {
            height: auto;
            margin-bottom: 30%;

            p {
                zoom: 0.8;
                -moz-transform: scale(0.8);
            }
        }

        .gallery {

            a {
                width: 40%;
                min-width: 0;
                filter: none;
            }
        }

        .offer {
            hr {
                margin-top: 0px;
            }
        }

        .contact {
            // zoom: 0.75;
            // -moz-transform: scale(0.75);
            flex-wrap: wrap;

            .logoWrap {
                margin-left: 20px;
                zoom: 1.5;
                -moz-transform: scale(1.5);
            }
        }
    }
}