@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gotu&display=swap");
body, html {
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Gotu', sans-serif;
  color: #FFF9CF;
}

body {
  background-color: #5c001c;
}

hr {
  width: 70%;
  max-width: 500px;
}

.wrapper {
  background: url(../img/IMG_9851.svg) no-repeat center -30px fixed;
  background-size: cover;
}

.wrapper main {
  height: 650px;
}

.wrapper main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 40px);
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.wrapper main header ul {
  list-style-type: none;
  width: 90%;
  max-width: 700px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  padding-bottom: 10px;
}

.wrapper main header ul a {
  text-decoration: none;
  color: #FFF9CF;
}

.wrapper main header ul a:hover {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  text-shadow: 0 0 2px #FFFFFF;
  color: #fff394;
}

.wrapper main .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.wrapper main .logo .fLogo {
  height: inherit;
  background: url(../img/fLogo.svg) no-repeat center center;
  position: absolute;
  background-size: contain;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper main .logo #titleLogo {
  text-align: center;
  z-index: 2;
  font-family: 'Cinzel', serif;
  font-size: 6em;
}

.wrapper main .logo .title2Logo {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 1em;
  margin-bottom: 70px;
}

.wrapper main .logo:hover {
  cursor: default;
}

.wrapper .about {
  width: 100%;
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .about p {
  padding: 50px;
  width: 380px;
  min-width: 380px;
  text-align: center;
}

.wrapper .gallery {
  margin: 30px;
  width: calc(100% - 60px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrapper .gallery a {
  width: 22%;
  margin: 15px;
  -webkit-filter: sepia(0.65);
          filter: sepia(0.65);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .gallery a img {
  width: 100%;
}

.wrapper .gallery a:hover {
  -webkit-filter: none;
          filter: none;
}

.wrapper .offer {
  margin-top: 10px;
  width: 100%;
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .offer .offerContent {
  text-align: center;
  margin-bottom: 40px;
}

.wrapper .offer .offerContent h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 40px;
}

.wrapper .offer .offerContent h2 {
  font-size: 1.2em;
  font-weight: normal;
}

.wrapper .contact {
  width: calc(100% - 80px);
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(139, 0, 42, 0.822)), to(#690020));
  background-image: linear-gradient(to right, rgba(139, 0, 42, 0.822), #690020);
  padding: 10px 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contact .contactData {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contact .contactData .phone {
  height: 40px;
  width: 330px;
  color: #FFF9CF;
  background: url(../img/icons8-phone2-100.png) no-repeat;
  background-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contact .contactData .phone p {
  padding-left: 60px;
}

.wrapper .contact .contactData .mail {
  height: 40px;
  width: 330px;
  color: #FFF9CF;
  background: url(../img/icons8-email2-100.png) no-repeat;
  background-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contact .contactData .mail p {
  padding-left: 60px;
}

.wrapper .contact .logoWrap {
  margin-left: 40px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .contact .logoWrap #FB {
  background: url(../img/icons8-facebook-250.svg) no-repeat;
  background-size: 40px;
  width: 50px;
  height: 40px;
}

.wrapper .contact .logoWrap #FB:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper .contact .logoWrap #YT {
  background: url(../img/icons8-youtube-128.svg) no-repeat;
  background-size: 40px;
  width: 50px;
  height: 40px;
}

.wrapper .contact .logoWrap #YT:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (min-width: 481px) and (max-width: 1155px) {
  .wrapper {
    background: url(../img/IMG_9851.svg) no-repeat center center fixed;
    background-size: cover;
  }
  .wrapper main {
    height: 100vh;
  }
  .wrapper main .logo {
    margin-top: 200px;
    zoom: 0.9;
    -moz-transform: scale(0.9);
  }
  .wrapper .gallery a {
    -webkit-filter: none;
            filter: none;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    background: url(../img/IMG_9851.svg) no-repeat center center fixed;
    background-size: cover;
  }
  .wrapper main {
    height: 90vh;
  }
  .wrapper main a {
    padding: 4px;
  }
  .wrapper main .logo {
    margin-top: 200px;
    zoom: 0.6;
    -moz-transform: scale(0.6);
  }
  .wrapper .gallery a {
    width: 40%;
    -webkit-filter: none;
            filter: none;
  }
  .wrapper .contact {
    zoom: 0.7;
    -moz-transform: scale(0.7);
  }
}
/*# sourceMappingURL=main.css.map */